body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 225, 228);
}

.profile {
    background-color: white;
    display: flex;
    /* background-color: blue; */
    margin: 20px;
    padding: 20px;
    height: 200px;
    /* width: 1000px; */
    align-items: center;
    justify-content: start;
}

.profile-picture {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
    padding: 10px;
}

.profile-data {
    width: 400px;
}

.profile-2 {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 30px;
    border-right: 0.02px rgb(212, 212, 212) solid;
}
.profile-2-bawah {
    display: flex;
}

.size-button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

.edit {
    background-color: blue;
    color: white;
    box-shadow: 2px;
    border: 0px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.resume {
    background-color: white;
    color: green;
    border: green 1px solid;
}

.profile-3 {
    display: flex;
    margin-left: 30px;
}

.profile-3-desc {
    width: 185px;
}

.profile-3-user {
    width: 185px;
}

.cat {
    font-weight: bold;
}

.data {
    color: gray;
}

.form-container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
